<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <receiver
            android:name=".debug.ReleaseStateCommandReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="${applicationId}.SET_IR" />
                <action android:name="${applicationId}.SET_FAST_FORWARD" />
                <action android:name="${applicationId}.SAVE_STATE" />
                <action android:name="${applicationId}.LOAD_STATE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="me.magnum.melonds.debug.DebugCommandInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>
